<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

    <h1>Create a new wiki</h1>

    <form action="/wikis/create" method="post">
      <div class="form-group">
        <label for="title">Wiki Title</label>
         <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
      </div>
      <div class="form-group">
          <label for="body">Description</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Description"></textarea>
      </div>
      <div>
        <label for="private">Please indicate whether you want a private or public wiki</label>
        <select>
          <option value="true">Private</option>
          <option value="false">Public</option>
        </select>
      </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
