<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

    <h1><%= wiki.title %></h1>
    <p><%= wiki.body %></p>

    <a href = "wikis/<%= wiki.id %>/wikis/edit" class="btn bth-success">Edit Wiki</a>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
