<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1>Downgrade membership</h1>

      <p>Press the button below to downgrade your premium membership</p>
      <p>Please note that private wikis will become public if you choose to end your membership</p>
      <div>
        <form action="/users/<%=currentUser.id%>/downgradeUser" method="POST">
  				<button type="submit" class="btn btn-primary">Downgrade your account</button>
  			</form>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
