<!DOCTYPE html>
  <html>
    <head>

        <% include ../static/partials/head.ejs %>

    </head>
    <body>

      <% include ../static/partials/navbar.ejs %>

      <main class="container">
        <div>
          <h2>Thank you for purchasing a Premium Account!</h2>
        </div>
        <div>
        <a href="../wikis/index">Let's get started!</a>
        </div>

      </main>
     <% include ../static/partials/baseScripts.ejs %>
   </body>
</html>
